In [58]:
import pandas as pd
import statistics as sts
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.model_selection import train_test_split

%matplotlib inline

In [109]:
dados_de_treino = pd.read_csv('train.csv')
dados_de_teste = pd.read_csv('test.csv')
mediana = sts.mean(dados_de_treino['Age'])
media = dados_de_treino['Age'].dropna()
media = sts.median(media)
dados_de_treino['Age'].fillna(media,inplace=True)
dados_de_teste['Age'].fillna(media,inplace=True)
dados_de_teste

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,28.0,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,28.0,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,28.0,1,1,2668,22.3583,NaN,C

In [137]:
treino_y = dados_de_treino['Survived']
componentes = ['Embarked','Sex', 'Pclass']
treino_X = pd.get_dummies(dados_de_treino[componentes])
teste_X = pd.get_dummies(dados_de_teste[componentes])

In [159]:
X_train, X_test, y_train, y_test = train_test_split(treino_X,treino_y, random_state=1, stratify=treino_y)
floresta = RandomForestClassifier(n_estimators = 100,random_state=1)
floresta.fit(X_train, y_train)
previsao1 = floresta.predict(X_test)

In [160]:
accuracy_score(y_test, previsao1)

0.8295964125560538

In [161]:
print(classification_report(y_test, previsao1))
confusion_matrix(y_test, previsao1)

              precision    recall  f1-score   support

           0       0.80      0.96      0.87       137
           1       0.90      0.63      0.74        86

    accuracy                           0.83       223
   macro avg       0.85      0.79      0.81       223
weighted avg       0.84      0.83      0.82       223

array([[131,   6],
       [ 32,  54]], dtype=int64)

In [123]:
print(classification_report(y_test, previsao1))
confusion_matrix(y_test, previsao1)

              precision    recall  f1-score   support

           0       0.80      0.96      0.87       137
           1       0.90      0.63      0.74        86

    accuracy                           0.83       223
   macro avg       0.85      0.79      0.81       223
weighted avg       0.84      0.83      0.82       223

array([[131,   6],
       [ 32,  54]], dtype=int64)

In [141]:
modelo = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
modelo.fit(treino_X,treino_y)
previsao = modelo.predict(teste_X)

In [142]:
output = pd.DataFrame({'PassengerId': dados_de_teste.PassengerId, 'Survived': previsao})
output.to_csv('submission_v1.csv', index=False)